footer {
    background-color: #323232;
    padding: 5px 20px 20px 20px;
    font-family: "Roboto", sans-serif;
  }
  
  .logo-footer {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
  
  .flex-text-foot {
    color: white;
    line-height: 5px;
  }
  
  .flex-column-logo {
    display: flex;
    flex-direction: column;
  }
  
  .flex-icone {
    display: flex;
    align-items: center;
    height: 25px;
  }
  
  .line-espace {
    line-height: 25px;
  }
  
  .fa-utensils:before {
    margin-left: 6px;
  }
  
  .fa-utensils, .fa-hands-helping {
    padding-right: 10px;
  }
  
  .number-card .number-card__bord {
    border: 1px solid #9356DC;
  }
  .number-card .number-card__back {
    background-color: #9356DC;
  }
  
  