button
{
    border-radius: 30px 30px 30px 30px;
    background: linear-gradient($color_pink, $color_purple);
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 20px 60px 20px 60px;
    color: white;
    font-size: 18px;
    transform: scale(1);
    transition-duration: 500ms;
    &:hover, &:active{
        transform: scale(1.1);
        box-shadow: -2px -1px 2px $color_pink,2px 1px 2px $color_purple;
        background: linear-gradient($color_pink_lighter, $color_purple_lighter);
    }
}
.flex-button
{
    text-align: center;
    margin: 50px 50px 60px 50px;
}