button
{
    border-radius: 30px 30px 30px 30px;
    background: linear-gradient(#FF79DA, #9356dc);
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 20px 60px 20px 60px;
    color: white;
    font-size: 18px;
    transform: scale(1);
    transition-duration: 500ms;
    &:hover{
        transform: scale(1.005);
    }
    &:active{
        box-shadow:2px 2px 5px 5px #e1e1e1;

    }
}
.flex-button
{
    text-align: center;
    margin: 50px 50px 60px 50px;
}